html, body {
  width: 100%;
  height: 100%;


}

/* #jumbotronDisplay{
  opacity: 0.5;
} */
#timeLeft{
  font-weight: bold;
  font-size: 7rem;
}

.btn-group-lg>.btn, .btn-lg{
  padding: 1rem 2rem;
}

#brandName{
  font-size: 2rem;
}

#settingsText{
  font-size: 4rem;
  font-weight: bold;
}

#heartIcon{
  color: #dc3545;
}
#codeIcon{
  color: #ffc107;
}
#websiteLink{
  color: #007bff;
}
