/*============
  Golbal Styles
  ============= */
:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arvo', serif;
}

/*============
  Main Content
  ============= */
#mainPage {
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  #mainPage {
    height: 100%;
    overflow-y: hidden;
  }
}

#timeLeft {
  font-weight: bold;
  font-size: 5rem;
}

/*==========
  Brand Name
  =========== */
#brandName {
  min-width: 150px;
  font-weight: bold;
}

#navText {
  font-size: 2.5rem;
  line-height: 3rem;
}

@media screen and (max-width: 500px) {
  #navText {
    font-size: 8vw;
  }
}

/*========
  Buttons
  ======== */
.scrolltop-wrap {
  color: #dc3545;
  margin-bottom: 2rem;
  position: fixed;
  z-index: 100;
  right: 5%;
  bottom: 5%;
  display: none;
}

.scrollButton {
  cursor: pointer;
  color: #dc3545;
}

.timerLinks {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

#pomodoros, #shortBreak, #longBreak {
  border-radius: 2rem;
  padding: 0.65rem 1.5rem 0.45rem 1.5rem;
}

#saveButton, #clearButton, #clearTasksButton {
  font-size: 1.1rem;
  padding: 0.8rem 1.6rem;
}

#startButton, #stopButton, #resetButton, #saveButton, #clearButton, #clearTasksButton {
  font-weight: 500;
  border-radius: 2rem;
  line-height: 2rem;
}

#startButton, #stopButton, #resetButton {
  box-shadow: 0 9px #999;
}

.buttonClicked {
  box-shadow: 0 5px #666 !important;
  transform: translateY(0.25rem);
}

.dropButtonEffect:active {
  box-shadow: 0 5px #666 !important;
  transform: translateY(0.25rem);
}

.dropButtonNoShadow:active {
  transform: translateY(0.25rem);
}

.btn-group-lg>.btn, .btn-lg {
  padding: 1rem 3rem;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

/*======
  Modals
  ====== */
.modal-lg {
  max-width: 700px;
}

.modal-xl {
  max-width: 1000px;
}

.modal-content {
  border-radius: 1rem;
}

.modalHeaderText {
  font-size: 2rem;
}

.modal-body {
  overflow-x: hidden;
}

#backgroundMusicOptions {
  width: 8rem;
}

#settingsText {
  font-size: 4rem;
  font-weight: bold;
}

#taskInput {
  border-radius: 1rem;
}

#addTaskButton {
  border-radius: 10rem;
  margin-left: 0.5rem;
}

#longBreakIntervalInput {
  margin-right: 10rem;
}

#NoDataLoggedText, #NoTaskTodayText {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #6c757d;
}

@media screen and (max-width: 400px) {
  #NoDataLoggedText {
    font-size: 7vw;
  }
}
.table thead th {
  font-size: 1.1rem;
}

.table th {
  border-top: none;
}

.darkMode {
  background-color: rgb(23, 23, 23) !important;
}

.textMutedWhite {
  color: white !important;
}

.textMutedNormal {
  color: #6c757d !important;
}

/* ===============
  Site description
  ================ */
.siteDescription {
  background: #9ADBB3;
}

.descriptionLabel {
  border-color: #dc3545;
  margin-bottom: 0rem;
  word-wrap: break-word;
}

@media screen and (max-width: 600px) {
  .descriptionLabel {
    font-size: 7vw;
  }

  html, body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 400px) {
  .descriptionText {
    font-size: 5vw;
  }
}

.descriptionLabelBorder {
  height: 0.5rem;
  background: #dc3545;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.descriptionContent {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

.descriptionContent:nth-child(1) {
  padding-top: 4rem;
}

.descriptionText {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #444a51;
}

dt[class="col-sm-2"] {
  margin-right: -2.5rem;
}

dd[class="col-sm-10"] {
  margin-bottom: 1rem;
}

/* ========
   Footer
   ======== */
.social-icon {
  color: #999;
}

.social-icon:hover{
  color: #007bff;
}

.social-icon:focus {
  border: 1px solid red;
}

.fa-code {
  color: #ffc107;
}

.fa-heart {
  color: #dc3545;
}

#siteFooter p a {
  font-weight: bold;
  color: #007bff;
}

#siteFooter p {
  font-size: 1.1rem;
}

.done {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}

/* ===============
  Switch Input
  ================ */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ===================
  Hover link animation
  ==================== */
.expand {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.expand:hover,
.expand:focus {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.expand::after {
  display: block;
  content: '';
  border-bottom: solid 0.15rem #dc3545;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.expand:hover::after,
.expand:focus::after {
  transform: scaleX(1);
}

/* for blue */
.blue-expand {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.blue-expand:hover,
.blue-expand:focus {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.blue-expand::after {
  display: block;
  content: '';
  border-bottom: solid 0.15rem #007bff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.blue-expand:hover::after,
.blue-expand:focus::after {
  transform: scaleX(1);
}

.nav-expand {
  position: relative;
  text-decoration: none;
}

.nav-expand:hover,
.nav-expand:focus {
  position: relative;
  text-decoration: none;
}

.nav-expand::after {
  display: block;
  content: '';
  border-bottom: solid 0.25rem #007bff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-expand:hover::after,
.nav-expand:focus::after {
  transform: scaleX(1);
}

/* ===============
  Scroll Indicator
  ================ */
.line {
  background: #dc3545;
  height: 4px;
  border-radius: 1px;
  width: 0%;
  position: fixed;
  top: 0;
}

/* ===========
  Progress Bar
  ============ */
.radialProgressBar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #007bff;
  margin: 20px;
  min-width: 300px;
}

.radialProgressBar .overlay {
  border-radius: 50%;
  width: 260px;
  height: 260px;
  margin: auto;
  background: #fff;
  text-align: center;
  padding-top: 27%;
}

.progress-value {
  background-image: -webkit-linear-gradient(left, #dc3545 50%, transparent 50%), -webkit-linear-gradient(left, #ddd 50%, #dc3545 50%);
}
